.willscot-list-slider-slider-area {
	margin-top: 30px;
 
  
  .willscot-list-slider-slide h3 {
	font-size: 15px;
	text-align: center;
	margin-top: 18px;
  }
  
  button {
	&.slick-prev.slick-arrow {
	  position: relative;
	  width: 30px;
	  overflow: hidden;
	  background: transparent;
	  border: 0;
	  position: absolute;
	  left: 0px;
	  right: auto;
	  z-index: 11;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 40px;
	  height: 40px;
  
	  &:after {
		content: "<";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #00805F;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
	  }
	}
  
	&.slick-next.slick-arrow {
	  position: relative;
	  width: 40px;
	  overflow: hidden;
	  background: transparent;
	  border: 0;
	  position: absolute;
	  left: auto;
	  right: 0px;
	  z-index: 11;
	  top: 50%;
	  transform: translateY(-50%);
	  height: 40px;
  
	  &:after {
		content: ">";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #00805F;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
	  }
	}
  }
  
  .willscot-list-slider.slick-initialized.slick-slider {
	position: relative;
  }
  
  .willscot-list-slider-slide {
	padding: 30px 0;
  }
  
  .slider-img img {
	display: block;
	width: 100%;
  }
  
  .slick-initialized .slick-slide {
	padding: 0 15px !important;
  }
  
  .willscot-list-slider.slick-initialized.slick-slider {
	padding: 0 40px;
  }



.slick-dots li.slick-active button {
	background-color: black;
  }
  
.slick-dots li, .slick-dots li button {
	height: 14px;
	width: 14px;
	cursor: pointer;
	border-radius: 100%;
	list-style: none;
  
  }
  
.slick-dots li button {
	background: grey;
  
  }
.slick-dots{
	left:0;
  }

}

.willscot-list-slider-modal-slider-area {
 
  
	.willscot-list-slider-modal-slide h3 {
	  font-size: 15px;
	  text-align: center;
	  margin-top: 18px;
	}
	
	button {
	  &.slick-prev.slick-arrow {
		position: relative;
		width: 30px;
		overflow: hidden;
		background: transparent;
		border: 0;
		position: absolute;
		left: 0px;
		right: auto;
		z-index: 11;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
	
		&:after {
		  content: "<";
		  position: absolute;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  background: #00805F;
		  color: #fff;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  font-size: 22px;
		}
	  }
	
	  &.slick-next.slick-arrow {
		position: relative;
		width: 40px;
		overflow: hidden;
		background: transparent;
		border: 0;
		position: absolute;
		left: auto;
		right: 0px;
		z-index: 11;
		top: 50%;
		transform: translateY(-50%);
		height: 40px;
	
		&:after {
		  content: ">";
		  position: absolute;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  background: #00805F;
		  color: #fff;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  font-size: 22px;
		}
	  }
	}
	
	.willscot-list-modal-slider.slick-initialized.slick-slider {
	  position: relative;
	}
	
	.willscot-list-slider-modal-slide {
	  padding: 30px 0;
	}
	
	.slider-img img {
	  display: block;
	  width: 100%;
	}
	
	.slick-initialized .slick-slide {
	  padding: 0 15px !important;
	}
	
	.willscot-list-modal-slider.slick-initialized.slick-slider {
	  padding: 0 40px;
	}
  
  }